<!DOCTYPE html>

<html>
  <header>
        <div data-role="navbar">
                            <ul data-role="buttongroup" data-index="0">
                               <li ><a href="views/aboutbook.html">Authors</a>   </li>
                                <li ><a href="views/publisher.html"> Publisher's Note</a>   </li>
                                 <li ><a href="views/contributors.html">Contributors</a>   </li>
                            </ul>
                        </div>
        
        </header>
    <body>
        <div>
          

To Liz,

who embraced this project with so much enthusiasm

            but was not to see the final product</br>
        irds and birding have been part of my life from a very young age and as a school master at Peterhouse, I wanted to share this interest with my pupils. This led
to the development of the Gosho Park Conservation Project where generations of boys and girls have benefited from a secure environment, to study and enjoy birds and nature.
The camera provided me with an opportunity to take birds to people throughout southern Africa, giving illustrated talks, using bird photographs. It also led to the writing of my first books, Birds Afield, Birds of the Zimbabwe Highveld and Birds of the Zimbabwe Lowveld for the Bundu Series of books in the 1970s. Other books followed, with Geoff McIlleron editing the photographic illustrations, of which The Complete Book of Southern African Birds was our first major concept and project. This was a huge success with nearly 30 000 copies sold in ten years!
for a number of years I have wanted to create a follow-up book and a meeting with Iain Buchan at Blue Crane Nature Reserve provided an opportunity to do so. (See publisher’s note on Page IV). The Ultimate Companion for Birding in Southern Africa is the result.

How did the concept for this new book come about?

When giving bird talks in camps in National Parks and Nature Reserves over the
past 25 years, many members in the audience mentioned that they found it inter-
esting reading in The Complete Book of Southern African Birds about the birds they
had seen during the day because the general text was both informative and easily
understood. This led to the concept on which this new book is based – beautiful
photographs of birds, complemented by interesting text which can be readily under-
stood by anyone.
Southern Africa has the widest variety of bird field-guides of any similar-sized
region in the world but there are relatively few bird books of general interest cover-
ing all our species, and none illustrated with such large, beautiful photographs. The

Ultimate Companion for Birding in Southern Africa is designed to fill this gap.

In recent years bird watchers and ornithologists have contributed hugely to our
knowledge of the distribution and behaviour of birds. Our knowledge of birds is
growing exponentially year by year and new facets of behaviour, distribution and
relationships between species are being discovered regularly.
Taking a concept and creating a book such as this is extremely satisfying and
sometimes very exciting, but there have been times while working on this enormous
project that some of us have wondered whether it was too complicated to reach fru-
ition. As we now near the final stages of The Ultimate Companion for Birding in

Southern Africa, the whole team is excited by this incredible book we have created. It

is spectacular and beautiful; it is interesting and informative, written for easy read-
ing, even if one knows little or nothing about birds.

What were we, the team, inspired to do?

We aimed to produce a book of the birds in our region, with the very best photo-
graphs to illustrate the book, so that it will be enjoyed by anyone who has an interest in
nature, but we also hoped to inspire the non-birder to gain an interest in the enormous
variety of birdlife which we in southern Africa are privileged to enjoy. It includes many
fascinating and appealing anecdotes and unique personal observations, so that even
the expert will find interesting new material to read.
We tried to make the species texts as interesting as possible and written in a way that
anyone – both birder and non-birder – would be able to understand fully. These were
written by 18 of southern Africa’s foremost field-birders about the birds they have stud-
ied or watched in the field. They were encouraged to include as many of their personal
experiences as possible and were also asked to write in their own personal style, which
we tried to retain when editing. The authors approached their species from their own
perspective and it is clear that the emphasis changed from author to author, which we
believe adds considerably to the variety and interest of the texts.
The use of scientific language has been minimised but because there are certain
ornithological terms which must be used to describe particular features, a glossary
explaining the meaning of these terms has been included.
A project like this is dependent on a very large number of people in so many differ-
ent ways. The team would like to thank you for your contribution - there are just too
many to mention individually.
However, we would like to pay special tribute to Iain Buchan of The Unlimited for
the part he played throughout the development of this project. Without his commit-
ment and encouragement the project would not have got off the ground.

Text Editors

As Editor, I was extremely fortunate to have Irene as Sub-Editor. She did a great
job on the English and ensuring that text could be understood by non-birders.

Review Editors

When I started this project I asked Phil Hockey, then Director of the Percy fitzPat-
rick Institute of African Ornithology, whether he would be prepared to be the Review
Editor for the book. I was delighted and humbled when he said: “I will be honoured to
be your Review Editor.” Sadly he did not live to see the finished product. We are in-
deed very grateful to him for his contribution. Thereafter Peter Ryan and Terry Oatley
became joint Review Editors. They have done so brilliantly and timeously throughout
this year, despite the siren call of the islands in the South Atlantic and the songs of the
robins in the Little Karoo!!

Authors

There are so many outstanding birders writing about southern African birds that
it was very difficult to decide who should be invited to write for this project. Many of
those invited participated in The Complete Book of Southern African Birds. Some are
experts in a particular family or group of birds and were an obvious choice for those
families or groups.
It has been a great privilege working with this group and we are sure you will agree
that the text is both interesting and illuminating, and therefore anyone reading the
book is not likely to suffer from ‘ornithological indigestion’! Between them the authors
have either written or participated in a very large number of the best bird books in
southern Africa. Some examples are:
the late Phil Hockey, Richard Dean and Peter Ryan who were the scientific editors
for Roberts VII
the late Phil Hockey, Warwick Tarboton and Peter Ryan who were part of the edito-
rial team for Sasol Birds IV
Peter Ginn & Geoff McIlleron who were part of the editorial team for The Complete

Book of Southern African Birds

David Allan was part of the editorial team for Roberts Geographic Variation of South-

ern African Birds

Terry Oatley’s Robins of Africa
Warwick Tarboton’s Roberts Nests and Eggs of Southern African Birds
Rob Little’s Gamebirds of Southern Africa
John Carlyon’s Nocturnal Birds of Southern Africa
faansie Peacock’s Pipits of Southern Africa
The authors have been incredibly patient and long-suffering in assisting with cre-
ating species texts tailored to the right length to fit into the available space. We had to
re-write many texts in order to achieve this and even at the final layout stage, some
texts had to be lengthened or shortened.

Photography Editors

Geoff McIlleron has worked with me on a number of bird books and he was an obvi-
ous choice to be the Photography Editor, given his expertise in this field.
He was joined by his son, Andrew, as Associate Photography Editor. He carried out
a major portion of the picture editing as he has a keen eye for good photographs. He
has been particularly good at picking up and then correcting colour casts, tonal short-
comings and artefacts in the pictures, as well as handling the interface with the photog-
raphers. His outstanding effort and dedication to getting the detail right has resulted
in a remarkable improvement of the overall quality of the pictures being published.
Geoff and Andrew have put in an incredible amount of work to get the photographs
ready for layout and we are deeply indebted to them for their efforts. They gave up
many hours, including weekends, to keep the selection, replacement and editing of
photographs on track for layout. They have tackled the project in a completely pro-
fessional way which shows up in the reproduction of the photographs and quality of
layout. Their essay on Page XII gives some insight into the way they tackled the pho-
tographs for this book.
Geoff and Andrew looked at over 30 000 photographs from more than 200 pho-
tographers. This obviously required many hours of work in sorting and editing. The
team selected the 1 400+ photographs appearing in the book and which cover all 960
species on the southern African bird list as at 1st July 2013. It is worth recording that
this is the first time that the entire 960 species have been illustrated by photographs in
a double-volume coffee table book.
        
        <p>
            Photographers and their photographs

Some 145 photographers have had one or more photographs selected for the book,
which contains some of the finest and most beautiful photographs of the birds which
occur in southern Africa. The photographs were chosen to provide outstanding shots
illustrating the birds – selection was not based on illustrating the features used to iden-
tify the birds – we looked for beautiful photographs, especially those which featured
the birds’ habits and habitats. The photographs are complemented by interesting texts
which describe the birds and their habits as seen through the eyes of each author.
We would like to thank all those who made their photographs available. Your contri-
bution is immensely appreciated. These photographs have certainly made the book the
beautiful and stunning production it is – photograph credits appear on each photograph.

Species Articles

The species have been divided into major and minor species. In some cases the birds
could have been either, but space constraints limited the total number of major species
we could select. Most of the major species have a full page with half a page of text
and half a page of photographs. Minor species have been grouped two or three, or
occasionally, four, to a page, therefore limiting the length of the text and size of the
photograph. Each species text has a short summary about the bird.

Species’ Order and Names

While the general order and names used by Birdlife South Africa have been fol-
lowed, some species have been moved out of the systematic order – such as the
grebes for example – to place them near other similar-looking species in the same
habitat. The current ‘common’ names have been used, with one or two variations
e.g. Dikkop! In addition, all the members of the family Otididae have been called
‘bustards’, and therefore ‘korhaan’ has been used solely for the Afrikaans names. In
placing the species within families we had to be flexible, arranging the order to fit
the book space available.

Distribution Maps

The distribution maps are provided for major species only. They have been specially
prepared by the Animal Demography Unit (ADU) at Cape Town University and rep-
resent the current knowledge of the distribution of each species in southern Africa – a
very special thank you to Michael Brooks for compiling the maps for us.

Geographical Names

Bird names and geographical names are dynamic and keep changing. We have
tried to tread a fairly conservative path, but this is not always easy! for example re-
cently Namibia renamed the Caprivi Strip – which appears many times – to Zambezi

Region (of Namibia).

The E-Book

Uniquely in a bird book, The Ultimate Companion for Birding in Southern Africa will
be published, together with an eBook version, so that owners can take both the infor-
mative text and the incredible photographs into the field with them to enable them to
refer to these when bird watching.

Publisher and Sponsor

We cannot begin to express how grateful we are for the vision of Iain Buchan
and the Board of The Unlimited. Quite simply, without them, this book would not
exist. What a rare privilege it has been to have discovered The Unlimited and all
that they stand for: a corporate that is most definitely not a corporate, but rather
a business that is founded firmly on its values and driven to make a difference in
everything they do.
It has been truly refreshing to work hand-in-hand with a group of people who
are so passionate about what they do. Your energy and commitment to the daily
nitty-gritty of making this book a reality has been astounding. My special thanks
to Aletta Louw, Loryn Holmes, Krigers Naidoo and The Unlimited’s creative team.
Thank you for all your help and support.

Layout

flame Design did the design and layout of the book. We thank them for all their ef-
forts despite the complexity and, at times, our combined frustrations, when the process
did not go as smoothly as we would have liked. Thank you, Danie Jansen van Vuuren,
Amanda Coulson, Carlos Marzia and the rest of the team.

Printing

Jimmy Lim of Tien Wah in Singapore has been very supportive and his expert
knowledge has been invaluable in creating this quality product.

Conclusion

In conclusion I would like to thank all those who have had a part in bringing
this book to fruition. The dedication and patience of all the major contributors
has made it possible to ensure that we have a beautiful and accurate book, filled
with incredible photographs and interesting text. It is also a monument to all those
people who made so many encouraging and excellent suggestions over the last two
years regarding various aspects of production. The editors discussed ideas, but if
consensus could not be reached, the final decisions were mine and I therefore take
responsibility for them!
I trust, you, the reader, will enjoy the book – both photographs and text. I know that
you will learn a lot about birds, because, although I thought I knew a lot about birds, I
learnt a great deal more from the species texts. PETER GINN
        </p>
            
            
        </div>
    </body>
</html>