<div data-role="view" data-title="About" data-layout="main" data-model="APP.models.about">
    <header>
        
           <div data-role="header" class="headbg">

     <div data-role="navbar">
                            <ul data-role="buttongroup" data-index="0">
                         <li ><a href="views/about.html">Authors</a>   </li>
                                <li ><a href="views/publisher.html"> </a>   </li>
                             	  <li ><a href="views/"></a>
                                 <li ><a href="views/"></a>   </li>
                            </ul>
                        </div>
        
        </div>

    </div>
        
   
      </header>
      <div>
          
</div>
      

		<h1>About The Book</h1>
		<p>The Authors, Publiser and Other Contributors.</p>
			<img src="images/screen.jpg"/>
			</header>
		<h2>&quot;To Liz, who embraced this project with so much enthusiasm but was not to see the final product.&quot;</h2>
				</header>
			<img src="images/pic01.jpg" />
			
		<h3>Peter Ginn </h3>
						
<p> 24 years after the record-breaking success of his last big book, The Complete Book of Southern African Birds, Peter Ginn has done it again. Four years in the making, The Ultimate Companion for Birding in Southern Africa takes bird books as we know them to a whole new level with his incredible insight, specialist bird knowledge and exceptional photography. 

An Associate of the Royal Photographic Society and the Photographic Society of Southern Africa, Peter pioneered the use of photographs to illustrate bird books in the 1970s, and has already put together more than 10 iconic bird books for the southern African region, each one building on the success of the previous one.</p>
			<img src="images/pic02.jpg" class="ri"/>
					
		<h3>Geoff McIlleron</h3>
							
<p> With over 35 years experience co-authoring a number of popular bird books, Geoff McIlleron has teamed up again with Peter Ginn for the second time since the resounding success of their book, The Complete Book of Southern African Birds. Honorary President of the Plettenberg Bay branch of BirdLife South Africa and a member of the Photographic Society of South Africa, Geoff's life-long love of the natural world and dedication to its photography has seen him put together a personal collection of photographs covering well over 600 southern African bird species.</p>
						


