<div data-role="view" data-title="Contributors" data-layout="main" data-model="APP.models.contributors">


 <header>
           <div data-role="header" class="headbg">

     <div data-role="navbar">
                            <ul data-role="buttongroup" data-index="3">
                         <li ><a href="views/about.html">Authors</a>   </li>
                                <li ><a href="views/publisher.html"> </a>   </li>
                             	  <li ><a href="views/"></a>
                                 <li ><a href="views/"></a>   </li>
                            </ul>
                        </div>
        
        </div>

    </div>
        
   
      </header>
       <div >
					<h4><b>CONTRIBUTORS</b></h4>
            <p>CONCEPT AND PROJECT CO-ORDINATOR:<u> PETER GINN</u></p>
            <p>TEXT EDITOR:<u> PETER GINN</u></p>
            <p>TEXT SUB-EDITOR:<u> IRENE VAN HEERDEN</u></p>
            <p>PHOTOGRAPHIC EDITOR:<u> GEOff MCILLERON</u></p>
            <p>ASSOCIATE PHOTOGRAPHIC EDITOR:<u> ANDREW MCILLERON</u></p>

            <h4>REVIEW EDITORS</h4>

             <p><u>PHILIP A HOCKEY:</u> Percy fitzPatrick Institute of African Ornithology
            University of Cape Town</p> 
            <p><u>PETER G RYAN:</u> Percy fitzPatrick Institute of African Ornithology
            University of Cape Town</p>
            <p><u>TERRY OATLEY Gill:</u> Memorial Medalist Barrydale</p>

            <h4>TEXT AUTHORS</h4>

                   <ul><li><u>DAVID ALLAN:</u> Curator of Birds
                      Durban Natural Science Museum
                      Durban</li> 
                  <li>     <u>JOHN CARLYON:</u> Veterinarian Pietermaritzburg</li> 
                 <li>      <u>BRIAN COLAHAN:</u> Ornithologist
                      free State Nature Conservation
                      Bloemfontein</li> 
                  <li>     <u>ADRIAN J f K CRAIG:</u> Professor in Zoology Rhodes University Grahamstown</li> 
                  <li>     <u>W RICHARD J DEAN:</u> Prince Albert Percy fitzPatrick Institute of African Ornithology
                      University of Cape Town</li> 
                  <li>     <u>PETER GINN:</u> Naturalist, Author, Retired schoolmaster George</li> 
                  <li>     <u>ANDREW JENKINS:</u> Ornithologist Cape Town</li> 
                  <li>     <u>ROB LITTLE:</u> DST/NRf Centre of Excellence, Percy fitzPatrick Institute
                      of African Ornithology, University of Cape Town</li> 
                  <li>     <u>ROB MARTIN:</u>
                      Retired: University of Stellenbosch
                      Somerset West</li> 
                   <li>    <u>ALEX MASTERSON:</u>
                      Not a professional ornithologist but
                      a lawyer of the shotgun and specimen
                      age who learned birds from his dogs
                      Harare
                      Zimbabwe</li> 
                     <li>  <u>KERRYN MORRISON:</u> Ornithologist
                      African Crane Conservation Programme
                      Dullstroom</li> 
                    <li>   <u>TERRY OATLEY:</u> Gill Memorial Medalist Ornithologist and author Barrydale
                    <li>   <u>FAANSIE PEACOCK:</u> Ornithologist</li> 
                    <li>   Ditsong National Museum of Natural History
                      Pretoria</li> 
                  <li>     <u>PETER G RYAN:</u> Professor and Assistant Director Percy fitzPatrick Institute of African Ornithology
                      University of Cape Town</li> 
                    <li>   <u>ROY SIEGfRIED:</u> Past Director Percy fitzPatrick Institute of African Ornithology University of Cape Town</li> 
                     <li>  <u>WARWICK TARBOTON:</u> Ornithologist Modimolle
                      South Africa</li> 
                     <li> <u>TONY TREE:</u> Ornithologist Port Alfred
                      † Deceased </li> </ul>
                      <p><b>WARWICK TARBOTON
                          
                          <div>
                              
COMPILED AND EDITED BY

<u>Peter Ginn & Geoff McIlleron</u>

Text Sub-Editor: <u>Irene van Heerden</u>

Associate Photographic Editor: <u>Andrew McIlleron</u>

PUBLISHED AND SPONSORED BY

FRONT COVER: <u>RICHARD PEEK</u>

BACK COVER: <u>ALBERT FRONEMAN

XXVIII</u></b></p>
     </div>                     

    
    </div>