<div data-role="view" data-title="Photographers" data-layout="main" data-model="APP.models.photographers">
 
        <header>
               <div data-role="header" class="headbg">

     <div data-role="navbar">
                            <ul data-role="buttongroup" data-index="0">
                         <li ><a href="views/about.html">Photographers</a>   </li>
                                <li ><a href="views/publisher.html"> </a>   </li>
                             	  <li ><a href="views/"></a>
                                 <li ><a href="views/"></a>   </li>
                            </ul>
                        </div>
        
        </div>

    </div>
        
   
      </header>
          <div data-role="body">
    		
               </div>
    
</div>


